language: python
cache: pip
matrix:
    include:

    - os: linux
      sudo: required
      python: 2.7
      env: GDELT=py27
        - os: linux
          sudo: required
          python: 3.4
          env: GDELT=py34
        - os: linux
          sudo: required
          python: 3.5
          env: GDELT=py35
    - os: linux
      sudo: required
      python: 3.6
      env: GDELT=py36
    - os: osx
      language: generic
      env: GDELT=py27
        - os: osx
          language: generic
          env: GDELT=py34
        - os: osx
          language: generic
          env: GDELT=py35
    - os: osx
      language: generic
      env: GDELT=py36

install:

    - source travis/install.sh
    - pip install pip!=10
    - pip install pytest-cov
    - pip install coveralls --ignore-installed  certifi
    - pip install python-coveralls --ignore-installed  certifi
    - python setup.py install



script:
  - pytest
#  - coverage run --source=gdelt setup.py test

cache:
  directories:
    - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

after_success:
  - codecov
  - coveralls

#
#script:
#  - pytest
##  - coverage run --source=gdelt setup.py test
#
#cache:
#  directories:
#    - $HOME/.cache/pip
#before_cache:
#  - rm -f $HOME/.cache/pip/log/debug.log
#
#after_success:
#  - codecov
#  - coveralls
