language: python
os:
  - linux
#  - osx

compiler:
  - gcc
  - clang


python:
  - "2.7"
  - "3.4"
  - "3.5"
#  - "3.5-dev" # 3.5 development branch
  - "3.6"

matrix:
  include:
    - language: generic
      os: osx
      before_install:
        - brew update
        - brew install python3
        - brew install gdal geos spatialindex
        - virtualenv env -p python3
        - source env/bin/activate
      os: linux
        - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        - sudo apt-get update -q -y
        - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable -y
        - sudo apt-get install python-dev -y
        - sudo apt-get install gcc-4.8 -y
        - sudo apt-get clean	-y
        - "pip install pip -U"

env:
  - GDELT=false
  - GDELT=true

#before_install:
#  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
#  - sudo apt-get update -q -y
#  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable -y
#  - sudo apt-get install python-dev -y
#  - sudo apt-get install gcc-4.8 -y
#  - sudo apt-get clean	-y
#  - "pip install pip -U"
#before_install:
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gcc     ; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gdal     ; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install geos     ; fi
#  - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; pip install futures        ; fi

# command to install dependencies
install:
  - "pip install pip -U"
  - "pip install -r requirements.txt"
  - "pip install pytest-cov"
  - if [ "$GDELT" == true ]; then
        echo 'plus testing'; pip install -r requirements_geo.txt;
        else pip install -r requirements.txt;
    fi;
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest
  - py.test --cov=./

after_success:
  - codecov