# Include the license file
include LICENSE

include *.rst
include AUTHORS.rst
include README.rst
recursive-include doc *
recursive-include utils *

# Include the data files
recursive-include utils/schema_csvs/*

# If using Python 2.6 or less, then have to include package data, even though
# it's already declared in setup.py
# include utils/schema*_csvs/*