# Include the license file
include LICENSE

include *.rst
include AUTHORS.rst
include README.rst
include README.md
recursive-include docs *
recursive-include data *.csv
recursive-include data *.gz
recursive-include data *.json
recursive-include utils/schema_csvs *




# If using Python 2.6 or less, then have to include package data, even though
# it's already declared in setup.py
# include utils/schema_csvs/*