pytest
pytest-cov
flake8
futures
coveralls
sphinx=1.5*
nbsphinx
ipython
python-dateutil
pytz
openpyxl
xlsxwriter
xlrd
xlwt
html5lib
patsy
beautifulsoup4
numpy
cython
scipy
numexpr
pytables
matplotlib
seaborn
lxml
sqlalchemy
bottleneck
pymysql
Jinja2
gdal
geos
shapely
fiona
geopandas